<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWebApp.styles.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="max-w-7xl mx-auto flex flex-col h-screen">
    <header>
        <div class="flex justify-start text-4xl py-3">Go-Travel</div>
    </header>
    <div class="container bg-cover bg-no-repeat rounded-top-3xl flex-1 bg-[url('https://mattermost.garenanow.com/files/q6pk57tomfrpmerpryoya1prtw/public?h=cHskuRNeIKNVChEgh_MIzRkXBwB83L0Bm49gtSQEpSc')]">
        <main role="main" class="pb-3 h-full flex flex-col justify-center">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>